@value Tablet, Tablet_S, Mobile from '../../common/size.css';
@value weatherWhite, weatherGrey, weatherYellow from '../../common/style.css';

.searchForm {
  width: 40vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 2.3rem;
  padding-top: 3.5rem;
}

/* form */
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid weatherGrey;
  margin-bottom: 3rem;
}

.input,
.button {
  border: 0;
  background: 0;
}

.button:focus,
.input:focus {
  outline: none;
}

.input {
  flex-grow: 1;
  font-size: 1.3rem;
  color: weatherWhite;
  padding: 0.5rem;
}

.button {
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.3rem;
  color: weatherGrey;
}

.button:hover,
.button:active {
  opacity: 0.5;
}

/* bookmark list */
.bookmarkWrapper {
  width: 100%;
  margin-bottom: 3rem;
}

.list {
  list-style: none;
  padding-left: 0;
  height: 13rem;
  overflow-y: auto;
}

.title {
  font-size: 1.5rem;
  color: weatherYellow;
  margin-bottom: 2rem;
  text-shadow: 0.05rem 0.05rem 0 rgb(112, 111, 111);
}

/* responsive : Tablet */
@media screen and (max-width: Tablet) {
  .searchForm {
    width: 45vw;
  }
}

/* responsive : Tablet_S */
@media screen and (max-width: Tablet_S) {
  .searchForm {
    width: 100%;
    background: 0;
    padding: 0 2.2rem;
    padding-top: 14%;
  }

  .form {
    margin-bottom: 2rem;
  }

  .input {
    font-size: 1rem;
  }

  .bookmarkWrapper {
    margin-bottom: 2rem;
  }

  .list {
    height: 11rem;
  }

  .title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
}

/* responsive : Mobile */
@media screen and (max-width: Mobile) {
  .searchForm {
    padding: 0 1rem;
    padding-top: 18%;
  }

  .form {
    margin-bottom: 1.5rem;
  }

  .bookmarkWrapper {
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
