.container {
  width: 40vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem;
}

.button,
.input {
  border: 0;
  background-color: transparent;
}

.button:focus,
.input:focus {
  outline: none;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #dfdfde;
  margin-bottom: 22rem;
}

.input {
  flex-grow: 1;
  font-size: 1.3rem;
  color: #dfdfde;
  padding: 0.5rem;
}

.button {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.3rem;
  color: #9d9d9d;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.title {
  font-size: 1.5rem;
  color: #dfdfde;
  margin-bottom: 2em;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  color: #dfdfde;
  margin-bottom: 2em;
}

.info dd {
  margin: 0;
}

/* responsive mobile */
@media screen and (max-width: 48rem) {
  .container {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .form {
    margin-bottom: 2rem;
  }

  .title {
    font-size: 1.4rem;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px gray;
  }

  .info {
    font-size: 1rem;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px gray;
  }
}
