@value Tablet_S,  Mobile from '../../common/size.css';
@value weatherWhite, weatherRed from '../../common/style.css';

.home {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 500ms ease-in-out;
}

/* loading spinor */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 6px solid weatherWhite;
  border-top: 6px solid weatherRed;
  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* current date */
.date {
  position: absolute;
  top: 3.4rem;
  left: 1.5rem;
}

/* contents */
.contents {
  display: flex;
  justify-content: space-between;
}

/* weather info */
.weatherInfo {
  position: absolute;
  display: flex;
  align-items: end;
  left: 4%;
  bottom: 8%;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px gray;
  color: weatherWhite;
}

/* weather info > location */
.location {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.bookmarkBtn {
  position: relative;
  bottom: 0.2rem;
  border: 0;
  background: 0;
  margin-right: 0.2em;
  cursor: pointer;
  font-size: 2.2rem;
  color: weatherWhite;
  text-shadow: 2px 2px 2px gray;
}

.bookmarkBtn:hover,
.bookmarkBtn:active {
  color: weatherRed;
}

/* weather info > main */
.main {
  display: flex;
  align-items: end;
}

.temp {
  position: relative;
  top: 0.3rem;
  margin-right: 0.8rem;
  font-size: 2.8rem;
}

/* background image */
.home.clouds {
  background-image: url('/public/images/clouds.jpg');
}
.home.clear {
  background-image: url('/public/images/clear.jpg');
}
.home.thunder {
  background-image: url('/public/images/thunder.jpg');
}
.home.drizzle {
  background-image: url('/public/images/drizzle.jpg');
}
.home.rain {
  background-image: url('/public/images/rain.jpg');
}
.home.snow {
  background-image: url('/public/images/snow.jpg');
}
.home.smog {
  background-image: url('/public/images/smog.jpg');
}
.home.mist {
  background-image: url('/public/images/mist.jpg');
}
.home.default {
  background-image: url('/public/images/default.jpg');
}

/* animation */
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

/* responsive : Tablet_S */
@media screen and (max-width: Tablet_S) {
  .contents {
    flex-direction: column-reverse;
    justify-content: end;
  }

  .date {
    top: 3.2rem;
  }

  .weatherInfo {
    left: 4%;
    bottom: 6%;
  }
}

/* responsive : Mobile */
@media screen and (max-width: Mobile) {
  .date {
    top: 2.6rem;
    left: 1rem;
  }

  .weatherInfo {
    font-size: 1.8rem;
    left: 4%;
    bottom: 5%;
  }

  .location {
    margin-right: 0.5rem;
  }

  .bookmarkBtn {
    margin: 0;
    font-size: 2rem;
  }

  .temp {
    font-size: 2.3rem;
    margin-right: 0.5rem;
  }
}
