.home {
  position: relative;
  background-image: url('/public/images/clouds.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 500ms ease-in-out;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 6px solid #f2f2ed;
  border-top: 6px solid #f55c47;
  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.date {
  position: absolute;
  left: 2%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.weatherInfo {
  position: absolute;
  display: flex;
  align-items: end;
  left: 3%;
  bottom: 10%;
  padding: 0 1rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px gray;
  color: #f7f5f2;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.bookmarkBtn {
  position: relative;
  bottom: 0.2rem;
  border: 0;
  background: 0;
  margin-right: 0.2em;
  cursor: pointer;
  font-size: 2.2rem;
  color: #f7f5f2;
  text-shadow: 2px 2px 2px gray;
}

.bookmarkBtn:hover {
  color: #f55c47;
}

.mainWeather {
  display: flex;
  align-items: end;
}

.temp {
  position: relative;
  top: 0.3rem;
  margin-right: 0.8rem;
  font-size: 2.8rem;
}

.home.clouds {
  background-image: url('/public/images/clouds.jpg');
}
.home.clear {
  background-image: url('/public/images/clear.jpg');
}
.home.thunder {
  background-image: url('/public/images/thunder.jpg');
}
.home.drizzle {
  background-image: url('/public/images/drizzle.jpg');
}
.home.rain {
  background-image: url('/public/images/rain.jpg');
}
.home.snow {
  background-image: url('/public/images/snow.jpg');
}
.home.smog {
  background-image: url('/public/images/smog.jpg');
}
.home.default {
  background-image: url('/public/images/default.jpg');
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

/* responsive mobile*/
@media screen and (max-width: 48rem) {
  .home {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: start;
    position: fixed;
  }

  .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 1.5rem;
    padding-bottom: 2.5rem;
  }

  .weather_wrapper {
    font-size: 1.5rem;
    position: static;
  }

  .date {
    font-size: 1rem;
    position: static;
  }
}
