.home {
  display: flex;
  justify-content: space-between;
  background-image: url('/public/images/clouds.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 500ms ease-in-out;
}

.info {
  position: relative;
}

.weather_wrapper {
  position: absolute;
  display: flex;
  left: 6rem;
  bottom: 10%;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px gray;
  color: #efefef;
}

.location {
  display: flex;
  margin-right: 1rem;
}

.location strong {
  margin-left: 0.2em;
}

.temp {
  margin-right: 1rem;
}

.date {
  position: absolute;
  display: flex;
  bottom: 8%;
  left: 7rem;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px 1px gray;
  color: #efefef;
}

.day {
  margin-right: 0.5rem;
}

.today {
  margin-right: 0.5rem;
}

.app.clouds {
  background-image: url('/public/images/clouds.jpg');
}
.app.clear {
  background-image: url('/public/images/clear.jpg');
}
.app.thunder {
  background-image: url('/public/images/thunder.jpg');
}
.app.drizzle {
  background-image: url('/public/images/drizzle.jpg');
}
.app.rain {
  background-image: url('/public/images/rain.jpg');
}
.app.snow {
  background-image: url('/public/images/snow.jpg');
}
.app.smog {
  background-image: url('/public/images/smog.jpg');
}
.app.default {
  background-image: url('/public/images/smog.jpg');
}

/* responsive mobile*/
@media screen and (max-width: 48rem) {
  .app {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: start;
    position: fixed;
  }

  .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 1.5rem;
    padding-bottom: 2.5rem;
  }

  .weather_wrapper {
    font-size: 1.5rem;
    position: static;
  }

  .date {
    font-size: 1rem;
    position: static;
  }
}
