@value Tablet_S, Mobile from '../../common/size.css';
@value weatherWhite, weatherBlack, weatherGrey, weatherRed, weatherYellow, weatherGreen, weatherIllustBGC  from '../../common/style.css';

.login {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  max-width: 60rem;
  max-height: 40rem;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: weatherWhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* login common style */
.button {
  border: 0;
  background: 0;
  cursor: pointer;
  outline-color: weatherYellow;
}

/* login form */
.loginForm {
  flex: 1 1 50%;
  text-align: center;
}

.header {
  margin-bottom: 2.3rem;
}

/* login form - greeting */
.greeting {
  margin-bottom: 1.6rem;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 0.6em;
}

.guide {
  color: weatherGrey;
  font-size: 0.9rem;
}

/* login form > form */
.form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input {
  border: 0;
  padding: 0.5em;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  border-bottom: 1px solid weatherGrey;
  outline-color: weatherYellow;
}

.input.pw {
  margin-bottom: 1.2rem;
}

/* login form > form > error message */
.error {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: weatherRed;
}

/* login form > form > signBtn */
.signBtn {
  padding: 0.8rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: weatherWhite;
  background-color: weatherGreen;
  border-radius: 0.5rem;
  transition: opacity 200ms ease-in-out;
}

.signBtn:hover,
.signBtn:active {
  opacity: 0.7;
}

/* divider */
.divider {
  margin: 1.4rem 0;
  font-size: 0.8rem;
  color: weatherGrey;
}

/* provider list */
.providerList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2.4rem;
}

.providerItem {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0.6rem;
}

.providerItem:last-child {
  margin-bottom: 0;
}

.providerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.7em 0;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid weatherGreen;
  transition: box-shadow 250ms ease-in-out;
}

.providerBtn:hover,
.providerBtn:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.providerBtn img {
  margin-right: 0.5em;
}

/* account guide */
.accountGuide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: weatherGrey;
}

.toggleBtn {
  font-weight: 600;
  color: weatherYellow;
}

.toggleBtn:hover {
  opacity: 0.5;
}

/* illustration  */
.illustration {
  flex: 1 1 50%;
  padding: 0 1.5rem;
  background-color: weatherIllustBGC;
}

.illustration img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* responsive : Tablet_S */
@media screen and (max-width: Tablet_S) {
  .illustration {
    display: none;
  }
}

/* responsive : Mobile */
@media screen and (max-width: Mobile) {
  .login {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .header {
    margin-bottom: 2.8rem;
  }

  .form {
    width: 80%;
  }

  .divider {
    margin: 1rem 0;
  }

  .providerItem {
    width: 80%;
  }

  .providerBtn {
    font-size: 0.9rem;
  }

  .accountGuide {
    font-size: 0.8rem;
  }

  .toggleBtn {
    font-size: 0.9rem;
  }
}
